In [30]:
"""
File presents operations performed in order to preprocess data to use in Machine Learning (ML) algorithms.
Dataset downloaded from: https://www.sciencedirect.com/science/article/pii/S014765132031575X#sec0085
The most important variables from a sheet named 'Table S3' have been cut in Excel and collected into a file: 'aquatictoxicitytodaphniamagna_tables3.xlsx'
"""

"\nFile presents operations performed in order to preprocess data to use in Machine Learning (ML) algorithms.\nDataset downloaded from: https://www.sciencedirect.com/science/article/pii/S014765132031575X#sec0085\nThe most important variables from a sheet named 'Table S3' have been cut in Excel and collected into a file: 'aquatictoxicitytodaphniamagna_tables3.xlsx'\n"

In [31]:
import pandas as pd

In [32]:
# loading data
data = pd.read_excel(r'C:\Users\HP\Desktop\Thesis\aquatictoxicitytodaphniamagna_tables3.xlsx')

In [33]:
# Renaming a column
data.rename(columns={'Acute Toxicity Class [Observed]': 'Acute Toxicity Class'}, inplace=True)

In [34]:
# Converting string notation of a categorical variable to numeric notation: 1 - Highly toxic, 0 - Low to non-toxic
data['Acute Toxicity Class'].replace(['Highly toxic', 'Low to non-toxic'], [1, 0], inplace=True)

In [35]:
data.head()

,CAS No.,Chemical Name,Set*,Acute Toxicity Class,MLOGP,η,Me,Ad,nBT,Hy
0,79947,"2,2',6,6'-tetrabromo-4,4'-isopropylidenediphenol",T,1,5.254741,4.2730,1.019388,40.331585,34,0.377820
1,80513,"4,4'-Oxybis(benzenesulfonylhydrazide)",T,1,0.541578,4.3525,1.043635,34.491819,38,3.794549
2,84695,Diisobutyl phthalate,T,1,3.618006,4.7875,1.000686,30.661281,42,-0.787180
3,84742,Dibutyl phthalate,T,1,3.618006,4.7445,1.000686,30.809815,42,-0.787180
4,88857,"Phenol, 2-(1-methylpropyl)-4,6-dinitro-",T,1,2.702104,4.3735,1.043383,23.103198,29,-0.082871

In [36]:
# Saving the file to excel format
data.to_excel('aquatictoxicitytodaphniamagna.xlsx')